@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.secondary-bg{
    background-color: #FFF8F3;
}
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-column{
    width: 50%;
}
footer input[type="text"],  footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
.btn-primary{
    background-color: #FD6E0A;
    background-color: #FF900E;
    font-weight: bold;
    font-weight: 600;
    font-size: 20px;
    font-size: 1.25rem;
    color: white;
    border: none;
    padding: 18px 35px;
    padding: 20px 25px;
    border-radius: 5px;
    border-radius: 8px;
}